{%extends 'partials/base2.html'%}
{% load humanize %}

{%block title%}Confirm withdrawal{%endblock%}
{%load static%}
{%block content%}
<div class="container">
    <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <div class="radial-progress text-primary" style="--value:70;" role="progressbar">70%</div>
                <h1 class="text-5xl font-bold">Pending</h1>
                <p class="py-6">
                    We will notify you upon completion of funds.
                </p>
                <a href="/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   " class="btn btn-primary">Ok</a>
            </div>
        </div>
    </div>
</div>



{%endblock%}