{%extends 'partials/base2.html'%}
{%block title%}Login{%endblock%}
{%load crispy_forms_tags%}
{%load static%}

{%block content%}


<style>

</style>

<div class="container d-flex flex-column mt-5" style="height: 100vh; max-width: 800px; margin-top: 20%;">
    <h2 class="fw-bold h3 text-center">Login</h2>
    <p class="text-center">Welcome back, we missed you...</p>
    <br>
    <div class="my-3 d-flex justify-content-evenly">
        <button class="btn">
            <i class='bx bxl-google'></i>
            Google
          </button>
          <button class="btn">
            <i class='bx bxl-apple'></i>
            iCloud
          </button>
    </div>

    <div class="container mt-3">
        <form method="post" action="{% url 'userauths:login' %}">
            {% csrf_token %}
            <!-- <h5 class="fw-bold">Login</h5> -->
            <div class="d-flex flex-column justify-content-start">
                {{form|crispy}}


            </div>
            <div class="d-flex my-2">
                <a href="#" class="h6 text-primary">Forgot password ?</a>
            </div>
            <br>


            <button type="submit" class="btn w-100 bg-blue-800 text-white">Login</button>
            <div class="d-flex my-2 mt-3 align-items-center justify-content-center">
                <p class="h6">Don't have an account, <a href="{%url 'userauths:register
                '%}" class="h6 text-primary">Register</a></p>
            </div>
        </form>
    </div>
</div>




{% endblock %}